# Игнорировать виртуальное окружение
venv/

# Игнорировать файлы Python кэша
*.pyc
__pycache__/

# Игнорировать базу данных
db.sqlite3

# Игнорировать логи
*.log

# Игнорировать файлы настроек среды (если есть)
.env

# Игнорировать IDE файлы (по желанию)
.vscode/
*.idea/