{% extends 'main/layout.html' %}

{% block title %}О нас{% endblock %}

{% block content %}
    <div class="features">
        <div class="container">
            <div class="row text-center">
                <h1 class="display-4">О нашем блоге</h1>
                <p class="lead">Мы создаём пространство для обмена знаниями и идеями</p>
                <hr class="my-4">
                <div class="col-md-10 mx-auto">
                    <p>Наш блог — это платформа, где каждый может найти интересные статьи, узнать что-то новое или поделиться своими мыслями. Мы стремимся объединить читателей и авторов, чтобы создать сообщество, где знания доступны всем.</p>
                    <p>Наша миссия — сделать информацию доступной, понятной и полезной. Присоединяйтесь к нам, чтобы читать, писать и вдохновлять!</p>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-6">
                    <h3 class="text-danger">Наши цели</h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item bg-dark text-white">Создание качественного контента</li>
                        <li class="list-group-item bg-dark text-white">Поддержка авторов и редакторов</li>
                        <li class="list-group-item bg-dark text-white">Развитие активного сообщества</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <h3 class="text-danger">Контакты</h3>
                    <p><i class="fa-solid fa-envelope"></i> Email: bogdanvolkov2017@yandex.ru</p>
                    <p><i class="fa-solid fa-users"></i><a href="https://vk.com/melevener" class="text-danger">VK админа</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}